<html>
    <head>
        <title>StrengthChecker</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>


    <body>
        <div id="container">
            <div id="header">
                <h1>Check how you compare to IPF athletes</h1>
            </div>

            <div id="input_form">
                <form>
                    <p>
                      <label for="a">Short label:</label>
                      <input id="a" type="text">
                    </p>
                    <p>
                      <label for="b">Very very very long label:</label>
                      <input id="b" type="text">
                    </p>
                </form>
            </div>

            <div id="footer">
                <p>Copyright &copy; 2022 Thomas McInally</p>
            </div>
        </div>



    </body>





</html>