<html>
    <head>
        <title>StrengthChecker</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>


    <body>
        <div id="container">
            <div id="header">
                <h1>Check how you compare to IPF athletes</h1>
            </div>

            <div id="input_form">
                <form>
                    <p>
                      <label for="a">Bodyweight(kg):</label>
                      <input id="a" type="number">
                    </p>
                    <p>
                      <label for="b">Age:</label>
                      <input id="b" type="text">
                    </p>
                    <p>
                        <label for="b">Sex:</label>
                        <select name="Sex">
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                    </p>
                    <p>
                        <label for="b">Equipment:</label>
                        <select name="Equipment">
                            <option value="Raw">Raw</option>
                            <option value="Single-ply">Single-ply</option>
                          </select>
                    </p>
                    <p>
                        <label for="b">Squat:</label>
                        <input id="b" type="number">
                    </p>
                    <p>
                        <label for="b">Bench:</label>
                        <input id="b" type="number">
                    </p>
                    <p>
                        <label for="b">Deadlift:</label>
                        <input id="b" type="number">
                    </p>

                </form>
            </div>

            <div id="footer">
                <p>Copyright &copy; 2022 Thomas McInally</p>
            </div>
        </div>
    </body>

</html>