{% extends 'base.html' %}


{% block content %}
<div id="header">
  <h1>Check how you compare to IPF athletes</h1>
</div>

<center>
  
<div id="input_form">
  
  <form id ="myform" action="/results" method="POST">
      <p>
        <label>Bodyweight(kg):</label>
        <input id="bodyweight" name="Bodyweight" type="number">
      </p>
      <p>
        <label>Age:</label>
        <input id="age" name="Age" type="number">
      </p>
      <p>
          <label>Sex:</label>
          <select name="Sex">
              <option value="M">M</option>
              <option value="F">F</option>
          </select>
      </p>
      <p>
          <label for="b">Equipment:</label>
          <select name="Equipment">
              <option value="Raw">Raw</option>
              <option value="Single-ply">Single-ply</option>
            </select>
      </p>
      <p>
          <label >Squat(kg):</label>
          <input id="squat" name="Squat" type="number">
      </p>
      <p>
          <label>Bench(kg):</label>
          <input id="bench" name="Bench" type="number">
      </p>
      <p>
          <label>Deadlift(kg):</label>
          <input id="deadlift" name="Deadlift" type="number">
      </p>
  </form>
  <br />
  <div id="submit_button">
    <input type="submit" form="myform" value="Calculate strength"/>
  </div>
  <div id="error"></div>
  <br />
  
</div>
</center>

{% endblock %}

