{% extends 'base.html' %}


{% block content %}
    <h1>Welcome to StrengthChecker</h1>
        <p>Easily compare your SBD strength to IPF contestants</p>
        <br />
        <form action="/results" method = "POST">
            <p>Squat(kg) <input type = "number" name = "Squat" /></p>
            <p>Bench(kg) <input type = "number" name = "Bench" /></p>
            <p>Deadlift(kg) <input type = "number" name = "Deadlift" /></p>
            <p>Age <input type = "number" name = "Age" /></p>
            <p>Bodyweight(kg) <input type = "number" name = "Bodyweight" /></p>
            <p>Equipment <select name="Equipment">
                <option value="Raw">Raw</option>
                <option value="Single-ply">Single-ply</option>
              </select></p>
            <p>Sex(M/F) <select name="Sex">
                <option value="M">M</option>
                <option value="F">F</option>
              </select></p>
            <p><input type = "submit" value = "Submit" /></p>

        <img src="{{url_for('static', filename='images/mypic.png')}}" />

        
{% endblock %}

