{% extends 'base.html' %}


{% block content %}
<div id="header">
  <h1>Check how you compare to IPF athletes</h1>
</div>

<center>
<div id="input_form">
  <form id ="myform" action="/results" method="POST">
      <p>
        <label>Bodyweight(kg):</label>
        <input name="Bodyweight" type="number">
      </p>
      <p>
        <label>Age:</label>
        <input name="Age" type="number">
      </p>
      <p>
          <label>Sex:</label>
          <select name="Sex">
              <option value="M">M</option>
              <option value="F">F</option>
          </select>
      </p>
      <p>
          <label for="b">Equipment:</label>
          <select name="Equipment">
              <option value="Raw">Raw</option>
              <option value="Single-ply">Single-ply</option>
            </select>
      </p>
      <p>
          <label >Squat:</label>
          <input name="Squat" type="number">
      </p>
      <p>
          <label>Bench:</label>
          <input name="Bench" type="number">
      </p>
      <p>
          <label>Deadlift:</label>
          <input name="Deadlift" type="number">
      </p>
  </form>
  <br />
  <div id="submit_button">
    <input type="submit" form="myform" value="Calculate strength"/>
  </div>
  <br />
  
  
</div>
</center>

<div id="footer">
  <p>Copyright &copy; 2022 Thomas McInally</p>
</div>
        
{% endblock %}

