body{
    background-color: rgb(187, 187, 187);
    /*background-image: url('/static/images/bg4.png');*/
}



#container{
    background-color: white;
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color:rgb(41, 41, 75);
    text-align:center;
    color:white;
}

#input_form{
    background-color:white;

}


#input_form form  { 
    display: table;
    align-items: center; 
    }
#input_form p     {
    display: table-row; 
}
#input_form label {
    display: table-cell;
    text-align:left
}
#input_form input[type=number] {
    display: table-cell;
    text-align:center
}

#input_form select {
    display: table-cell;
    text-align:center;
    width:100%;
}

#submit_button input[type=submit]{
    background-color: rgb(77, 73, 73);
    color:white;
}

#error{
    color:rgb(255, 23, 23)
}


#footer{
    background-color: #999999;
    text-align: right;
    color:white;
    padding: 2px;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(77, 73, 73);
    font-size:x-large;
  }
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  