body{
    background-color: rgb(187, 187, 187);
}



#container{
    background-color: white;
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color:rgb(32, 32, 124);
    text-align:center;
    color:white;
}

#input_form{
    background-color:white;

}


#input_form form  { 
    display: table;
    align-items: center; 
    }
#input_form p     {
    display: table-row; 
}
#input_form label {
    display: table-cell;
    text-align:left
}
#input_form input {
    display: table-cell;
    text-align:center
}
#input_form select {
    display: table-cell;
    text-align:center;
    width:100%;
}

#footer{
    background-color: #999999;
    text-align: right;
    color:white;
    padding: 2px;
}